
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.idea/.gitignore
/.idea/amocrm-api.iml
/.idea/dataSources.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
/supervisord.log
/supervisord.pid
